@import './bootstrap/bootstrap-grid.css';
/* @import './bootstrap/bootstrap.css'; */


body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #a96b40;
  text-align: left;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.indonesian-map {
  padding: 20px 0px;
  background-color: #030100;
}

.coffee {
  background: url("../coffee.png") bottom center / cover no-repeat;
  
  margin: auto;
  position: relative; 
}

@media (min-width: 576px) {
  .coffee {
    height: 100px;
    width: 300px;
  }

  .benefits-coffee {
    height: 535px;
  }
} 

@media (min-width: 768px) {
  .coffee {
    height: 265px;
    width: 796px;
  }

  .benefits-coffee {
    height: 730px;
  }
} 

@media (min-width: 992px) {
  .coffee {
    height: 330px;
    width: 990px;
  }

  .benefits-coffee {
    height: 490px;
  }
} 


.descriptions {
  background-color: #030100;
  text-align: center;
}

.descriptions-title {
  text-align: center;
  width: 100%;
}

.benefits {
  padding: 20px 0px;
  background-color: #cfcfd1;
  text-align: center;
  color:  #212529;
}

.benefits-title {
  text-align: center;
  width: 100%;
}

.benefits-coffee {
  background: url("../benefits.jpg");
  background-size: cover;
}

.benefits-text {
  font-size: 24px;
  text-align: center;
}

.armenia {
  background-color: #333333;
  color: #ffffff;
}

.armenia-coffee {
  background: url("../1.jpg");
  background-size: cover;
  height: 350px;
}

.contact {
  
}